* {
    padding: 0;
    margin: 0;
}
  
body {      /*The main header styling Starter here*/
    width: 100%;
    background-color: black;
    background-image: url(../img/bg4.png);
    background-position: center;
    background-size: cover;
    height: auto;
}
  
header {
    width: 100%;
    height: 50px;
    margin: auto;
}
  
#brand {
    text-align: center;
    line-height: 50px;
    color: yellowgreen;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 10px;
}
  
.menu-icon {
    padding: 10px 20px;
    background: yellowgreen;
    color: black;
    cursor: pointer;
    float: left;
    margin-top: 6px;
    border-radius: 5px;
}
  
#menuToggle {        /*The side bar styling Starter here*/
    display: none;
}
  
#menuToggle:checked~.menu {
    position: absolute;
    left: 0;
}
  
.menu {
    width: 240px;
    height: 540px;
    margin: 5px;
    position: absolute;
    background: yellowgreen;
    left: -245px;
    margin-top: 55px;
    border-radius: 0px 10px 10px 0px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
  
.menu h4 {
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
  
.menu ul li {
    list-style-type: none;
    margin-top: 15px;
}
  
.menu ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial;
}
  
nav {
    width: 100%;
    text-align: center;
}
  
nav a {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid black;
}
  
nav a:hover {
    background: rgba(128, 128, 128, 0.59);
    color: black;
}
  
nav li:last-child a {
    border-bottom: none;
}
  
.content_main {      /*The main content container styling Starter here*/
    width: 800px;
    height: 500px;
    background: linear-gradient( to bottom right, rgb(163, 225, 39),rgba(72, 66, 66, 0.774));
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 300px;
    padding: 20px;
}

.content_main h1 {
    color: black;
    padding: 7px;
    font-weight: bold;
    text-align: left
}

.content_main h2{
    color: black;
    font-weight: bold;
    text-align: left;
    margin-left: 4px;
    margin-top: 20px;
    font-size: 20px;
}

.content_main h5 {
    color: red;
    font-weight: bold;
    text-align: left;
    margin-left: 4px;
    margin-top: 8px;
}

.img {
    width: 140px;
    height: 140px;
    border-radius: 3px;
    float: right;
    margin-top: -270px;
    margin-right: 40px;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: -20px;
    margin-top: 30px;
    margin-left: 20px;
}
  
input[type=submit]:hover {
    color: yellowgreen;
}


#file {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
  
}
  
#file:hover {
    color: yellowgreen;
}
  
.error {              /*Showing user status styling*/
    color: red;
    background-color:rgba(225, 51, 51, 0.667);
    width: 300px;
    height: auto;
    font-size: 20px;
    text-align: center;
}

  
* {
    box-sizing: border-box;
}
  
.footer {          /*the mian footer container styling starts here*/
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6)50%, rgba(0, 0, 0, 0.6)50%), url(../img/footerimg.jpg);
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 5px;
}
  
.footer-main {
    position: relative;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
ul {
    list-style: none;
}
  
.footer-col {
    width: 20%;
    padding: 15px;
}
  
.footer-col h4 {
    font-size: 18px;
    color: yellowgreen;
    text-transform: capitalize;
    margin-bottom: 10px;
    position: relative;
    font-weight: 500;
}
  
.footer-col h3 {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.4s ease;
}
  
.footer-col h3:hover {
    color: black;
    padding-left: 10px;
}
  
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: black;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}
  
.footer-col ul li:not(:last-child) {
    margin-bottom: 9px;
}
  
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.4s ease;
}
  
.footer-col ul li a:hover {
    color: black;
    padding-left: 10px;
}
  
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
  
.footer-col .social-links a:hover {
    color: yellowgreen;
    background-color: white;
}