* {
    margin: 0;
    padding: 0;
}


.main{   /*The main header styling Starter here*/
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: auto;
}

.navbar {
    display: flex;
    width: 1200px;
    height: 75px;
    margin-left: 130px;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: yellowgreen;
    font-size: 35px;
    font-family: Arial;
    padding-left: 16px;
    float: left;
    padding-top: 14px;
    margin-top: 5px
}

.menu {      /*the main navbar list  styling start here*/
    width: 400px;
    float: left;
    height: 70px;
}

.menu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    margin-left: 92px;
    margin-top: 32px;
    font-size: 14px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu ul li a:hover {
    color: yellowgreen;
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid yellowgreen;
    margin-top: 20px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

button {
    width: 100px;
    height: 40px;
    background: black;
    border: 2px solid yellowgreen;
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

button:hover {
    color: yellowgreen;
}

button:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content-main {     /*the main content container styling start here*/
    width: 800px;
    height: 600px;
    margin-left: 130px;
    margin-top: 150px;
    background: url(../img/bg4.png);
    background-repeat: no-repeat;
}

.content {
    width: 1200px;
    height: 600px;
    margin: auto;
    color: white;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-transform: capitalize;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.content button {
    width: 160px;
    height: 40px;
    background: yellowgreen;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px 10px;
    cursor: pointer;
    transition: .4s ease;
}


.content button:hover {
    background-color: #fff;
}

.content span {
    color: yellowgreen;
    font-size: 65px
}

.form {                           /*the container for the form styling stater here*/
    width: 300px;
    height: 390px;
    background-color: yellowgreen;
    position: absolute;
    margin-top: 120px;
    top: -2px;
    left: 890px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: yellowgreen;
    font-size: 22px;
    background-color: black;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    margin-left: 10px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.form button {
    width: 240px;
    height: 40px;
    background: black;
    border: none;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 18px;
    border-radius: 10px 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.form button:hover {
    background: #fff;
    color: yellowgreen;
}

.form .link {
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: white;
}

.form .link a:hover {
    text-decoration: none;
    color: #000;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: yellowgreen;
}

.error {                         /*Showing user status styling*/
    color: red;
    background-color:rgba(225, 51, 51, 0.667);
    padding:2px;
    border-radius: 3px;
    width:auto;
    height:auto;
    font-size: 20px;
    text-align: center;
}
  
.success {
    color: green;
    background-color:rgba(47, 203, 47, 0.667);
    padding:2px;
    border-radius: 3px;
    width:auto;
    height:auto;
    font-size: 20px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.footer {       /*the mian footer container styling starts here*/
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6)50%, rgba(0, 0, 0, 0.6)50%), url(../img/footerimg.jpg);
    width: 100%;
    height: auto;
    margin-top: 80px;
    border-radius: 10px;
    padding: 10px;
}

.footer-main {
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
}

ul {
    list-style: none;
}


.footer-col {
    width: 20%;
    padding: 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: yellowgreen;
    text-transform: capitalize;
    margin-bottom: 10px;
    position: relative;
    font-weight: 500;

}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: black;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.footer-col h3 {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.4s ease;
}

.footer-col h3:hover {
    color: black;
    padding-left: 10px;
}


.footer-col ul li:not(:last-child) {
    margin-bottom: 9px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.4s ease;
}

.footer-col ul li a:hover {
    color: black;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: yellowgreen;
    background-color: white;
}